@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-block {
  width: 100%;
  height: 144px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-block {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-1__icons {
  width: 10%;
  display: flex;
  justify-content: space-between;
}
.nav-1__icons a {
  text-decoration: none;
}
.nav-1__icons a ion-icon {
  color: #001ED3;
  width: 20px;
  height: 20px;
}

.nav-1__items {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.nav-1__items a {
  color: #41444B;
  font-family: "Kanit", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
}

.border-line {
  width: 100%;
  height: 1px;
  background-color: #D4D7DD;
}

.nav-2 {
  display: flex;
  justify-content: space-between;
}

.nav-2__items {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.nav-2__items a {
  font-family: "Kanit", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: capitalize;
  font-weight: 700;
  text-decoration: none;
  color: #00215B;
}

.logo-nav {
  width: 10%;
  height: 100%;
}

.logo-nav::before {
  content: "";
  width: 25%;
  height: 20%;
  position: relative;
  top: 4px;
  left: 23px;
  background-color: red;
  display: block;
}

@media (max-width: 1024px) {
  .nav-1__icons {
    width: 30%;
  }
  .nav-2__items {
    display: none;
  }
  .nav-1__items {
    gap: 10%;
  }
}



.port-container{
    width: 100%;
    height: 419px;
    display: flex;
    background-image: url(./Rectangle\ 1.svg);
}
.port-active{
    width: 600px;
    height: 280px;
   
    margin: 120px 350px;
}
.port-active h1{
    color: #Fff;
    font-weight: 900;
    font-family: "Montserrat";
    font-size: 36px;
}
.port-active span{
    color: #Fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    font-weight: 400;

    position: relative;
    top: 30px;
}
.inner-active{
    width: 100%;
    height: 210px;
    background-color: #fff;

}
.inner-block{
    width: 482px;
    height: 195px;
    background-color: #fffbfb;
    left: 50%;
    position: relative;
    top: -80px;

}
.line-ach{
    width: 100%;
    height: 10px;
    
    background-color: crimson;

}
.act-text span{
    color: #000;
    font-family: "Montserrat";
    font-size: 18px;
    position: relative;
    top: -20px;

}
.act-text h1{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 32px;
    color: #00215B;
   
}
.act-text{
    position: relative;
    left: 30px;
    top: 50px;
}
.liner-flex{
    width: 100%;
    height: 1400px;
    background-color: #fff;
}

.pa-2{
    width: 373px;
    height: 485px;
    background-color: red;
}
.parent{
    width: 1200px;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: -20px auto;
}
.parent div:nth-child(1){
    background-size: cover;
   background-image: url(/pp/images/Rectangle\ 15.svg);
}
.parent div:nth-child(2){
    background-size: cover;
   background-image: url(/pp/images/Rectangle\ 16.svg);
}
.parent div:nth-child(3){
    background-size: cover;
    background-image: url(/pp/images/Rectangle\ 17.svg);
}
.parent div:nth-child(4){
    background-size: cover;
   background-image: url(/pp/images/Rectangle\ 18.svg);
}
.parent div:nth-child(5){
    background-size: cover;
   background-image: url(/pp/images/Rectangle\ 19.svg);
}
.parent div:nth-child(6){
    background-size: cover;
   background-image: url(/pp/images/Rectangle\ 20.svg);
}
.parent div:nth-child(7){
    background-size: cover;
   background-image: url(/pp/images/Rectangle\ 21.svg);
}
.parent div:nth-child(8){
    background-size: cover;
   background-image: url(/pp/images/Rectangle\ 22.svg);
}

.parent div:nth-child(9){
    background-size: cover;
   background-image: url(/pp/images/Rectangle\ 23.svg);
}
.parent div:nth-child(5){
color: #Fff;
font-family: "Montserrat";
text-align: center;
}
.parent div:nth-child(5) h1{
    margin-top: 180px;
}
.parent div:nth-child(5) span{
    top: 140px;
    position: relative;
}

.footer{
    width: 100%;
    height: 489px;
    display: flex;
    margin-top: 200px;
  
  }
  .ft-1{
      width: 40%;
     height: 100%;
     background-color: #D2153D;
     display: flex;
     justify-content: center;
     align-items: center;
  }
  .ft-1__main h1{
    font-family: "Montserrat";
    color: #Fff;
  }
  .ft-2{
    width: 60%;
    height: 100%;
    background-color: #00215B;
    display: flex;
    flex-direction: column;
  
  }
  .ft-1__main{
    width: 70%;
    height: 80%;
  
    display: flex;
    flex-direction:column;
    justify-content: space-between;
  
  
  }
  .main-borders-ft{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    height: 70px;
   
  }
  .ft-bor{
    width: 60px;
    height: 60px;
    background-color: #Fff;
    border-radius: 50%;
  }
  .ft-1__main h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 23px;
    color: #FFf;
  }
  .ft-1__main span{
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #Fff;
    font-size: 28px;
  }
  .ft-bor{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .ft-bor ion-icon{
    color: #001ED3;
    width: 31px;
    height: 31px;
  
  
  }
  .ft-2__main{
       width: 80%;
       height: 80%;
      
       margin: 30px 50px;
       align-items: center;
       display: flex;
       justify-content: space-between;
  }
  .ft-2item{
    width: 100%;
    height: 80%;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .ft-2item h2{
    font-family: "Montserrat";
    font-weight: 700;
    color: #Fff;
    width: 100%;
    font-size: 28px;
  
  }
  .ft-2item span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: #Fff;
    font-size: 18px;
    margin-bottom: 10px;
  
  }
  
  .it-2{
    position: relative;
    top: -20px;
  }
  .ft-span{
    font-size: 21px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color: #Fff;
    margin-left: 4%;
    position: relative;
    top: -4%;
  }
  /*# sourceMappingURL=main.css.map */
  